<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kangyonggan.app.dfjz.mapper.ArticleMapper">
    <resultMap id="BaseResultMap" type="com.kangyonggan.app.dfjz.model.vo.Article">
        <!--
          WARNING - @mbggenerated
        -->
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="category_code" property="categoryCode" jdbcType="VARCHAR"/>
        <result column="category_name" property="categoryName" jdbcType="VARCHAR"/>
        <result column="visit_count" property="visitCount" jdbcType="INTEGER"/>
        <result column="comment_count" property="commentCount" jdbcType="INTEGER"/>
        <result column="is_comment" property="isComment" jdbcType="TINYINT"/>
        <result column="is_stick" property="isStick" jdbcType="TINYINT"/>
        <result column="is_deleted" property="isDeleted" jdbcType="TINYINT"/>
        <result column="created_time" property="createdTime" jdbcType="TIMESTAMP"/>
        <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP"/>
        <result column="content" property="content" jdbcType="LONGVARCHAR"/>
    </resultMap>

    <select id="selectNextArticle" parameterType="Long" resultMap="BaseResultMap">
        SELECT id, title FROM article WHERE is_deleted = 0 AND id &gt; #{id} LIMIT 1
    </select>

    <select id="selectPrevArticle" parameterType="Long" resultMap="BaseResultMap">
        SELECT id, title FROM article WHERE is_deleted = 0 AND id &lt; #{id} ORDER BY id DESC LIMIT 1
    </select>

    <select id="selectArticlesOrderByComment" resultMap="BaseResultMap">
        SELECT id, title, comment_count FROM article WHERE is_deleted = 0 ORDER BY comment_count DESC LIMIT 6
    </select>

    <select id="selectArticlesOrderByVisit" resultMap="BaseResultMap">
        SELECT id, title, visit_count FROM article WHERE is_deleted = 0 ORDER BY visit_count DESC LIMIT 6
    </select>

    <select id="selectArticlesOrderByStick" resultMap="BaseResultMap">
        SELECT id, title, is_stick FROM article WHERE is_deleted = 0 ORDER BY is_stick DESC, id DESC LIMIT 6
    </select>

    <select id="selectArticlesByCategory" parameterType="String" resultMap="BaseResultMap">
        SELECT id, title FROM article WHERE is_deleted = 0 AND category_code = #{categoryCode} ORDER BY id DESC
    </select>

    <select id="selectArticles4Archives" resultMap="BaseResultMap">
        SELECT id, title, created_time FROM article WHERE is_deleted = 0 ORDER BY id DESC
    </select>

    <update id="updateArticleVisitCount" parameterType="Long">
        UPDATE article SET visit_count = visit_count + 1 WHERE id = #{articleId}
    </update>
</mapper>