body {
    margin: 0;
    font-family: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
}

.hidden {
    display: none;
}

.red {
    color: #f00 !important;
}

.color-grey {
    color: grey;
}

.align-center {
    text-align: center;
}

.sim-page {
    margin: 0 auto;
    padding: 0 10px;
    min-height: 400px;
}

.sim-page-loading {
    color: #ff0000 !important;
}

/*header*/
#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 90px;
    z-index: 9999;
    background: #f5f5f5;
}

#header > div {
    margin: 0 auto;
}

#header > div > a.logo {
    margin-top: 25px;
    padding: 0 3px;
    float: left;
    display: block;
    height: 36px;
    width: 90px;
    text-align: center;
    line-height: 36px;
    font-size: 22px;
    font-weight: bolder;
    color: #000;
    text-decoration: none;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    margin-left: 10px;
}

#header > div > ul {
    float: left;
    list-style: none;
    padding-left: 0;
    margin-left: 20px;
    height: 26px;
    margin-top: 30px;
}

#header > div > ul > li {
    float: left;
}

#header > div > ul > li > a {
    display: inline-block;
    padding: 0 15px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    margin-right: 3px;
    text-decoration: none;
    color: #000000;
    border-radius: 2px;
}

#header > div > ul > li > a.active {
    font-weight: bold;
}

#header > div > ul > li > a:hover {
    background: #e1e1e1;
}

#header > div > form > input {
    border-radius: 20px;
    border: 1px solid #333;
    text-indent: 15px;
    outline: none;
    padding: 3px 0;
    margin-top: 28px;
    width: 220px;
    height: 22px;
    font-size: 13px;
    background: #f5f5f5;
    float: right;
    margin-right: 10px;
}

#header > div > a.menu-button {
    margin-top: 10px;
    margin-right: 10px;
    height: 36px;
    width: 40px;
    float: right;
}

#header > div > a.menu-button > div.line {
    border-bottom: 2px solid #000;
    width: 90%;
    height: 10px;
    margin: 0 auto;
}

.line-border-radius {
    border-radius: 30%;
}

.menu-list {
    width: 100%;
    margin-top: 10px;
    float: left;
    background: #f5f5f5;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #999;
}

.menu-list > ul {
    margin-top: 0;
    padding-left: 0;
    list-style: none;
}

.menu-list > ul > li > a {
    display: block;
    margin: 5px 15px;
    padding: 5px;
    color: #000;
    text-decoration: none;
}

.menu-list > ul > li > a.active {
    font-weight: bold;
}

.menu-list > ul > li > a:hover {
    background: #e1e1e1;
}

.menu-list > form > input {
    display: block;
    border-radius: 20px;
    border: 1px solid #333;
    text-indent: 15px;
    outline: none;
    padding: 3px 0;
    width: 230px;
    margin: 0 auto;
    margin-top: 10px;
    height: 22px;
    font-size: 13px;
    background: #f5f5f5;
}

.height-170 {
    clear: both;
    height: 170px;
}

.height-80 {
    clear: both;
    height: 80px;
}

/*list*/
.article-list-empty {
    font-size: 20px;
    text-align: center;
}

.article-list {
    min-height: 600px;
}

.article-list > .article-item {
    margin-bottom: 80px;
}

.article-list > .article-item > h1 > .article-title {
    display: inline-block;
    color: #555;
    text-decoration: none;
    font-size: 26px;
    font-weight: 400;
}

.article-title-line {
    transform: rotateY(90deg);
}

.article-title-line-hide {
    border-bottom: 2px solid #fff;
}

.article-title-line-show {
    border-bottom: 2px solid #000;
}

.article-list > .article-item > .article-info {
    color: #999;
    font-size: 12px;
}

.article-list > .article-item > .article-info > span::after {
    content: " | ";
}

.article-list > .article-item > .article-info > span:last-child::after {
    content: "";
}

.article-list > .article-item > .article-info > span > a {
    color: #555;
}

.article-list > .article-item > .article-summary {
    margin-top: 20px;
}

.article-list > .article-item > .article-more {
    display: inline-block;
    margin-top: 20px;
    color: #555;
    font-size: 15px;
    line-height: 1.5;
    text-decoration: none;
    border-bottom: 2px solid #666;
}

/*markdown*/
.markdown p {
    color: #555;
    line-height: 2;
}

.markdown img {
    max-width: 100%;
}

.markdown blockquote {
    padding: 0 15px;
    color: #666;
    border-left: 6px solid #ddd;
    margin-left: 0;
    height: 35px;
    font-size: 14px;
    line-height: 35px;
}

.markdown a {
    color: #666;
}

.markdown code {
    color: #555;
    background: #eee;
    font-size: 13px;
    border-radius: 13px;
    height: 20px;
    font-family: consolas, Menlo, "PingFang SC", "Microsoft YaHei", monospace;
    line-height: 1.6;
}

.markdown pre {
    background: #1d1f21;
    padding: 10px 15px;
    overflow-x: auto;
}

.markdown pre > code {
    background: #1d1f21;
    color: #c5c8c6;
}

table {
    border-collapse: collapse;
}

table tr td,th {
    border: 1px solid #555;
    padding: 6px 10px;
}

table a {
    color: #555;
}

/*pagination*/
.pagination {
    clear: both;
    margin-top: 30px;
    border-top: 1px solid #eee
}

.pagination > a {
    display: inline-block;
    text-decoration: none;
    border-top: 1px solid #fff;
    color: #222;
    padding: 4px 10px;
    margin-right: 10px;
}

.pagination > a.active {
    background: #ccc;
    color: #fff;
    cursor: default;
}

.pagination > a:hover {
    border-top: 1px solid #333;
}

.pagination > a.active:hover {
    border-top: 1px solid #fff;
}

/*footer*/
#footer {
    position: relative;
    height: 80px;
    background: #f5f5f5;
    font-size: 14px;
    color: #333;
    letter-spacing: 1px;
}

#footer > div {
    margin: 0 auto;
    padding: 10px;
}

#footer > div > div > img {
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-right: 5px;
}

#footer > div > div > a {
    color: #333;
}

#footer > div > div {
    margin-top: 10px;
}

#footer > div > img {
    width: 100px;
    height: 100px;
    position: absolute;
    right: 100px;
    bottom: 5px;
    z-index: 100;
    transform: rotate(9deg);
}

/*scoll*/

.scroll-bar {
    position: fixed;
    bottom: 120px;
    right: 50px;
    z-index: 99999;
}

.scroll-bar > a {
    display: block;
    width: 30px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    border: 1px solid #f60;
    border-radius: 5px;
    color: #f60;
}

.scroll-bar > a.top {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 0;
}

.scroll-bar > a.bottom {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/*detail*/
.detail-header {
    text-align: center;
}

.detail-header h1 {
    font-size: 26px;
    font-weight: 400;
    line-height: 1.5;
    color: #555;
}

.detail-header > .detail-info {
    color: #999;
    font-size: 12px;
}

.detail-header > .detail-info > span::after {
    content: " | ";
}

.detail-header > .detail-info > span:last-child::after {
    content: "";
}

.detail-header > .detail-info > span > a {
    color: #555;
}

.detail-main {
    margin-top: 80px;
    background: #ccc;
}

.detail-main .detail-content {
    float: left;
    padding-right: 10px;
}

.detail-main .detail-toc {
    float: right;
}

.detail-toc .toc-space {
    display: inline-block;
    width: 10px;
}

.detail-toc .toc-line {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.detail-toc .level-2 {
    font-size: 16px;
    font-weight: 600;
}

.detail-toc .level-3 {
    font-size: 15px;
    font-weight: 500;
}

.detail-toc .level-4 {
    font-size: 14px;
    font-weight: 400;
}

.detail-toc .level-4 {
    font-size: 13px;
}

.detail-toc .level-5 {
    font-size: 12px;
}

.detail-toc .level-6 {
    font-size: 11px;
}

.detail-toc .level-7 {
    font-size: 10px;
}

.detail-toc .toc-line a {
    margin-left: 5px;
    color: #767676;
}

.detail-main .detail-hot {
    margin-top: 50px;
    text-align: center;
}

.detail-main .detail-hot a {
    display: block;
    color: #555;
    margin-top: 15px;
}

.detail-toc img {
    display: block;
    width: 240px;
    height: 240px;
    margin: 0 auto;
    padding: 2px;
    border: 2px solid #333;
}

.detail-toc p {
    text-align: center;
}

/*detail pay*/
.clear-float {
    clear: both;
}
.detail-pay {
    margin-top: 50px;
    text-align: center;
}

.detail-pay > a {
    display: inline-block;
    text-align: center;
    width: 80px;
    height: 35px;
    line-height: 35px;
    text-decoration: none;
    border-radius: 5px;
    color: #fff;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    font-stretch: normal;
    font-size: 18px;
    font-family: "Microsoft Yahei";
    background: #f44336;
}

.detail-pay > div {
    margin-top: 35px;
}

.detail-pay > div > img {
    width: 180px;
    height: 180px;
    border: 0;
}

.detail-pay > div > div {
    height: 100px;
    width: 100px;
    margin: 0 auto;
    line-height: 100px;
    border-radius: 100%;
}

.detail-bottom-line {
    border-bottom: 1px solid #eee;
    margin-top: 80px;
}

.detail-nears > a {
    color: #555;
    text-decoration: none;
    margin-top: 20px;
}

.detail-nears > a:hover {
    text-decoration: underline;
}

.detail-nears > a.left {
    float: left;
}

.detail-nears > a.right {
    float: right;
}

/*detail-comment*/
.detail-comment {
    clear: both;
    margin-top: 100px;
}

.detail-comment > form > input {
    display: block;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    height: 35px;
    text-indent: 10px;
}

.detail-comment > form > textarea {
    display: block;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    height: 150px;
}

.detail-comment > form > input[type="submit"].submit {
    height: 35px!important;
    border: 1px solid #666;
    background: #f5f5f5;
}

.detail-comment-list {
    margin-top: 50px;
}

.detail-comment-list > .detail-comment-info {
    font-size: 16px;
    border-left: 5px solid #000;
    text-indent: 20px;
}

.detail-comment-list > .detail-comment-item {
    margin-top: 20px;
    border-bottom: 1px dashed #e5e5e5;
    min-height: 150px;
}

.detail-comment-list > .detail-comment-item .left {
    width: 70px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    float: left;
    border: 1px solid #000;
    border-radius: 100%;
    margin-top: 20px;
    font-size: 34px;
}

.detail-comment-list > .detail-comment-item .right .username-time {
    width: 100%;
}

.detail-comment-list > .detail-comment-item .right .username-time span:first-child {
    margin-left: 40px;
    color: #313131;
}

.detail-comment-list > .detail-comment-item .right .username-time span:last-child {
    float: right;
    margin-right: 10px;
    color: silver;
}

.detail-comment-list > .detail-comment-item .right .content {
    min-height: 60px;
    margin-top: 25px;
    text-indent: 40px;
}

.detail-comment-list > .detail-comment-item .right .tool {
    text-align: right;
    margin-right: 10px;
}

.detail-comment-list > .detail-comment-item .right .tool a {
    color: silver;
    text-decoration: none;
    margin-left: 10px;
}

/*categories*/
.categories h1 {
    font-size: 26px;
    font-weight: 400;
    line-height: 1.5;
    color: #555;
}
.categories p {
    text-align: center;
    font-family: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
    font-size: 14px;
    line-height: 2;
    color: #555;
}
.categories ul {
    padding-left: 0;
    list-style: none;
    margin-top: 30px;
}
.categories ul li a {
    color: #555;
    text-decoration: none;
    border-bottom: 1px solid #999;
    word-wrap: break-word;
    font-size: 14px;
    display: inline-block;
    margin-top: 20px;
}

/*list-line*/
.list-line div {
    border-left: 4px solid #f5f5f5;
    padding-bottom: 20px;
}

.list-line div a {
    color: #555;
    border-bottom: 1px dashed #ccc;
    text-decoration: none;
    display: inline-block;
    width: 80%;
    height: 50px;
    line-height: 60px;
}

.list-line div a span {
    font-size: 12px;
    line-height: 2;
}

.list-line div::before {
    content: " ";
    width: 6px;
    height: 6px;
    display: inline-block;
    border-radius: 100%;
    background: #bbb;
    margin-left: -5px;
    margin-right: 20px;
}

.list-line div:hover::before {
    background: #000;
}

.list-line div.title::before {
    width: 8px;
    height: 8px;
    margin-left: -6px;
}

.list-line div.total::before {
    width: 8px;
    height: 8px;
    margin-left: -6px;
}

.list-line .total {
    padding-bottom: 50px;
    line-height: 1.5;
    font-family: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
    color: #555;
}

.list-line .tag {
    font-size: 22px;
    font-weight: bold;
    line-height: 1.5;
    font-family: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
    color: #555;
}

.list-line .title {
    padding-bottom: 50px;
    font-size: 22px;
    font-weight: bold;
    line-height: 1.5;
    font-family: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
    color: #555;
}
.list-line .title small {
    color: #bbb;
    margin-left: 5px;
}

/*about*/
.about h1 {
    text-align: center;
    font-size: 26px;
    font-weight: 400;
    line-height: 1.5;
    color: #555;
}
.about h2 {
    font-size: 22px;
    font-weight: 300;
    line-height: 1.5;
    color: #555;
    margin-top: 50px;
}
.about ul li {
    height: 30px;
}

/*share*/
.share-btns {
    clear: both;
    margin-top: 80px;
}
.share-btns div {
    display: block;
    width: 300px;
    margin: 0 auto;
}

/*small screen*/
@media (max-width: 1250px) {
    #header {
        height: 60px;
    }

    #header > div > a.logo {
        margin-top: 10px;
    }

    .detail-main .detail-content {
        width: 100%;
    }

    .detail-main .detail-toc {
        width: 100%;
    }

    .hidden-sm {
        display: none;
    }
}

/*large screen*/
@media (min-width: 1250px) {
    #header > div {
        width: 1200px;
    }

    #footer > div {
        width: 1200px;
    }

    .sim-page {
        width: 1200px;
    }

    .detail-main .detail-content {
        width: 899px;
    }

    .detail-main .detail-toc {
        width: 270px;
    }

    .hidden-lg {
        display: none;
    }

    .detail-comment > form > input {
        width: 600px;
    }

    .detail-comment > form > textarea {
        width: 600px;
    }
}